*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.dashboard{
  width:100%;
  min-height:100vh;
  background:#f7f7f7;
   padding:20px;
  box-sizing:border-box;
  background:#f5f6fb;
}

/* HEADER */

.dashboard-header{
  background:#e91b23;
  height:120px;
  border-bottom-left-radius:50% 20px;
  border-bottom-right-radius:50% 20px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:0 25px;
  color:white;
}

.dashboard-header h1{
  font-size:28px;
}

.icon-btn{
  font-size:28px;
  cursor:pointer;
}

/* GRID */

.dashboard-grid{
  width:100%;
  padding:40px 20px;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:35px;
}

/* SERVICE BUTTON */

.service-card{
  display:flex;
  flex-direction:column;
  align-items:center;
  cursor:pointer;
}

.circle{
  width:90px;
  height:90px;
  border-radius:50%;
  background:white;

  display:flex;
  justify-content:center;
  align-items:center;

  font-size:40px;

  box-shadow:0 4px 10px rgba(0,0,0,0.15);

  border:6px solid #ffecec;

  transition:0.3s;
}

.circle:hover{
  transform:scale(1.08);
}

.service-card p{
  margin-top:12px;
  text-align:center;
  font-weight:600;
  color:#555;
}

/* BOTTOM NAVBAR */

.bottom-nav{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height:70px;

  background:white;

  display:flex;
  justify-content:space-around;
  align-items:center;

  box-shadow:0 -3px 10px rgba(0,0,0,0.1);
}

.nav-item{
  text-align:center;
  cursor:pointer;
}

.nav-item span{
  display:block;
  font-size:22px;
}

.nav-item p{
  font-size:12px;
  color:#666;
}
.service-card{
  background:white;
  border-radius:20px;
  padding:25px 15px;
  text-align:center;
  box-shadow:0 4px 15px rgba(0,0,0,0.1);
  cursor:pointer;
  transition:0.3s;
}

.service-card:hover{
  transform:translateY(-5px);
}

.service-icon{
  width:70px;
  height:70px;
  margin:0 auto 15px;

  display:flex;
  justify-content:center;
  align-items:center;

  background:#f5f7ff;
  border-radius:18px;

  font-size:35px;
}

.dashboard-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:20px;
  padding:25px;
}